.wrapper {
  max-width: 1640px;
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 100%;
}

section {
  margin: 5% 0 5% 0;
}

h2 {
  @include text-h2;
}

p,
li {
  @include text-content;
}

@media (max-width: 500px) {
  h2 {
    text-align: center;
  }
}
