// This partials contains code for the Campaign Overview section of the webpage
.campaign-overview {
  display: flex;
  flex-direction: row;
}
.campaign-text {
  width: 70%;
  padding-right: 5%;
}

.campaign-images {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  .adparlor-image {
    margin-bottom: 10px;
    width: 35%;
    img {
      width: 100%;
    }
  }
  .ola-image {
    margin-top: 10px;
    width: 65%;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 590px) {
  .campaign-overview {
    flex-direction: column;
  }
  .campaign-text {
    width: 100%;
    padding-right: 0%;
  }
  .campaign-images {
    width: 100%;
    flex-direction: row;
    .adparlor-image {
      margin-right: 25px;
    }
    .ola-image {
      margin-left: 25px;
    }
  }
}
