// This partials contains code for both the creative strategy and media strategy sections of the webpage
@media (min-width: 1640px) {
  .strategy {
    display: flex;
    flex-direction: row;
  }
  .creative-strategy {
    width: 50%;
    padding-right: 35px;
  }
  .media-strategy {
    width: 50%;
  }
}
